body{
    margin:0px;
}
header{
    height: 70vh;
    opacity: 0.9;
    background-image:url("background1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 10px;
}
nav{
 padding-top: 10px;

}
nav li{
    padding-left: 40px;
}
.horizontal_list{
    list-style: none;
    padding-left: 0px;
   

}

.horizontal_list li{
    display: inline-block;
    margin:0px 8px 8px 0px;
}
.horizontal_list li a {
    color: white;
    text-decoration: none;
    
}
.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}
.text_center{
    text-align: center;
}
.nav-menu li a:hover{
color: lightgrey;
border-bottom: 1px solid white;

}
#name-social-container{
    margin-top:20vh;
}
#my-name{
    font-size:3rem;
    letter-spacing:0.1rem;
    color:white;
    font-weight: 700;
    margin-bottom:0.rem;
}
.fa {
    padding: 20px;
    font-size: 40px;
    width: 60px;
    text-decoration: none;
    margin: 5px 80px;
}

.social-icons li a i:hover{
    box-shadow:0px 0px 5px 4px rgba(230,196,196,0.3);
}
.social-icons li{
    padding: 10px;
 border-radius:50%;
    font-size: 1rem;
    margin-left: 10px;
}
#about{
    height: auto;
    width: 100%;
    position: relative;
}
#my-image{
    height:15rem;
    width: 15rem;
    margin:auto;
    margin-top: -17vh;

}
#my-image img{
    height: 100%;width: 100%;
    border-radius: 50%;
    border: solid white;
}
#about-para{
    margin: auto;
    width: 70%;
    height: 100%;
    padding:10px;
font-weight: 700;
font-size: 35px;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
section:nth-child(2n+1){
    background-color: white;
}
section:nth-child(2n){
    background-color:black;
}
section h1{
width:auto;
padding:20px 10px 10px;
margin:10px auto;
font-weight: 400;

}
section h1 span{
    font-size:40px;
    color:#2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
.skill-display{
    width:70%;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

height: 30vh;
    
}
.skill-progress{
   width:7rem;
   height:1.4rem;
   background-color:lightslategray;
   border-radius: 0.8rem;
   border:20x solid  black;
 
  margin: 4% 0% 0% 4%;
}
.mb-blue{
    background-color: #2857a4;
}
.eighty-five-percent{
    width: 85%;
    height: inherit;
}
.skill-name span{
 color:antiquewhite;
 font-size: 100%;
 margin-left: 5px;
 font-weight: 700;

}
.skill-progress div{
border-radius:20px 0px 0px 20px;
}
.ninety{
    background-color: #FF6D60;
    width: 90%;
    height: inherit;
}
.sixety{
    background-color:#0B2447 ;
    width: 60%;
    height: inherit;
}
.ninetyfive{
    width: 90%;
    height: inherit;
        background-color: #B8621B;
}
.sixety2{
    background-color:#0B2447 ;
    width: 60%;
    height: inherit;  
}
.fifety{
background-color:#0E8388 ;
width: 50%;
height: inherit;
}
.seventy{
background-color: #B3005E;
width: 70%;
height: inherit;
}
.timeline{
    position: relative;
    width: 75%;


}
.timeline-box{
  position: relative;
  width:40%;
  left: 5%;
  min-height: 150px;
background-color: lightgray;
  margin: 5px;
}
.timeline-box:nth-child(2n){
    left:53%;

}
.timeline-divider{
    position: absolute;
    height: 75%;
  width: 0;
  border: 3px dashed lightgrey;
  top:10%;
  left: 50%;
}
.timeline-traveller{
    position:sticky;
    top: 25%;
    transform: rotate(90deg);
    z-index: 2;
}
.timeline-box:nth-child(2n+1):after{
    content: '';
    border-radius: 50%;
    height: 0.5rem;
  width: 0.5rem;
  background-color: black;
  position: absolute;
  right: -12%;
  top: 36%;
  z-index: 1;
}
.timeline-box:nth-child(2n):after{
    content: '';
    border-radius: 50%;
    height: 0.5rem;
  width: 0.5rem;
  background-color: black;
  position: absolute;
   left: -12%;
  top: 40%;
  z-index: 1;
}


/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
